NODE_ENV=development
PORT=4000

DB_HOST=localhost
DB_PORT=5433
DB_USER=ichattime
DB_PASS=ichattime_pass
DB_NAME=ichattime

JWT_ACCESS_SECRET=change_me_access
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_SECRET=change_me_refresh
JWT_REFRESH_EXPIRES=7d

CORS_ORIGINS=http://localhost:3000

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_S3_BUCKET=ichattime-media
